.bannerwebp-icon1 {
  height: 150px;
  width: 150px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.banner-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 53px 0 51px;
}
.dealer-promotion2,
.january-2024-razer {
  margin: 0;
}
.january-2024-razer-container {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.date-31012024 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 122px;
}
.promo-date-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 65px;
  color: #555;
}
.tag-icon16 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button17 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 48px;
}
.tag-icon17 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button16 {
  cursor: pointer;
  border: 0;
  padding: 16px 32px;
  background-color: #b4daed;
  flex: 1;
  border-radius: 4px;
  flex-direction: row;
  gap: 16px;
}
.backgroundshadow1,
.button16,
.promo-button-container,
.promo-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.promo-button-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 70px;
}
.backgroundshadow1,
.promo-info {
  flex-direction: column;
}
.promo-info {
  align-self: stretch;
  gap: 24.1px;
}
.backgroundshadow1 {
  width: 324px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: #fff;
  padding: 32px 35px;
  box-sizing: border-box;
  gap: 31.7px;
  min-width: 324px;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #333;
  font-family: Roboto;
}
@media screen and (max-width: 1525px) {
  .backgroundshadow1 {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .banner-container,
  .promo-button-container,
  .promo-date-container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .backgroundshadow1 {
    gap: 16px;
    padding-top: 21px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
