.form-label {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.form-label-wrapper {
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.form-field {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 12px 7px 10px;
  gap: 20px;
}
.filter-container-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #000;
  box-sizing: border-box;
}
.select-category {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.select-category-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  min-width: 214px;
  max-width: 100%;
}
.arrow-drop-up-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.dropdown {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
}
.most-popular1 {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.category-options {
  align-self: stretch;
  background-color: #fbffec;
  border-left: 5px solid #fcec68;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 21px;
  white-space: nowrap;
  max-width: 100%;
}
.single-brands {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.category-options1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  box-sizing: border-box;
  max-width: 100%;
}
.hypermarkets1 {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.category-options2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  box-sizing: border-box;
  max-width: 100%;
}
.online-shopping1 {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.category-options3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  box-sizing: border-box;
  max-width: 100%;
}
.fashion-and-accessories {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.category-options4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  box-sizing: border-box;
  max-width: 100%;
}
.electronics1 {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.category-options5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  box-sizing: border-box;
  max-width: 100%;
}
.tag-icon28 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button29 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans";
  color: #1c1c1c;
  text-align: center;
  display: inline-block;
  min-width: 71px;
}
.tag-icon29 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button28 {
  cursor: pointer;
  border: 1px solid #c6c6c6;
  padding: 14px 20px;
  background-color: transparent;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.category-filter,
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.category-filter {
  align-self: stretch;
  font-size: 18px;
  font-family: Merriweather;
}
.filter-container {
  width: 402px;
  gap: 23.5px;
  min-width: 402px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1525px) {
  .filter-container {
    flex: 1;
  }
}
@media screen and (max-width: 850px) {
  .filter-container {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .dropdown {
    flex-wrap: wrap;
  }
  .category-options,
  .category-options1,
  .category-options2,
  .category-options3,
  .category-options4,
  .category-options5 {
    gap: 116px;
  }
}
