.razer-gold-5-turkpinwebp-icon {
  height: 310px;
  flex: 1;
  position: relative;
  border-radius: 4px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.background {
  flex: 1;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 278px;
  max-width: 100%;
}
.stock {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 45px;
}
.stock-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 0 0;
}
.available {
  flex: 1;
  position: relative;
  line-height: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.backgroundshadow10,
.stock-availability-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgroundshadow10 {
  flex: 1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background-color: #e2e2e2;
  padding: 13px 15px;
  text-align: center;
  font-size: 15px;
  color: #6c757d;
  font-family: Quicksand;
}
.stock-availability-container {
  width: 174px;
  gap: 18px;
}
.qunatity,
.separator {
  align-self: stretch;
  position: relative;
}
.separator {
  height: 2px;
  border-top: 2px solid #dee2e6;
  box-sizing: border-box;
}
.qunatity {
  line-height: 22.5px;
}
.qunatity-wrapper {
  width: 83px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 11.2px;
  box-sizing: border-box;
}
.quantity-value {
  margin-top: -15.5px;
  position: relative;
  line-height: 50px;
  display: inline-block;
  min-width: 9.3px;
  flex-shrink: 0;
}
.container2,
.input1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container2 {
  height: 19px;
  overflow: auto;
}
.input1 {
  flex: 1;
  border-radius: 2px;
  background-color: #f4f5f8;
  border-right: 10px solid #f4f5f8;
  padding: 12.8px 34px 13.2px 43px;
}
.add {
  width: 35.4px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.backgroundborder,
.quantity-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgroundborder {
  width: 61.1px;
  border-radius: 0 4px 4px 0;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  padding: 9px 11px 9px 13px;
  text-align: center;
  color: #495057;
  font-family: Quicksand;
}
.quantity-input-container {
  width: 157.1px;
  color: #747b86;
  font-family: Arial;
}
.frame-parent3 {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.special-note-for {
  align-self: stretch;
  height: 36px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.special-note-for-the-order-wrapper {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.5px 0 0;
  box-sizing: border-box;
}
.frame-parent4,
.input2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input2 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #f4f5f8;
  height: 45px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  padding: 8.8px 20px 9.2px;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 16px;
  color: #747b86;
  min-width: 300px;
  max-width: 100%;
}
.frame-parent4 {
  align-self: stretch;
  gap: 48px;
}
.frame-parent2,
.frame-parent4,
.small {
  display: flex;
  max-width: 100%;
}
.frame-parent2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23.3px;
}
.small {
  width: 400px;
  position: relative;
  line-height: 22px;
  align-items: center;
  flex-shrink: 0;
}
.separator1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.this-is-a {
  margin: 0;
}
.elevate-your-gaming,
.this-is-a-container {
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
}
.this-is-a-container {
  align-self: stretch;
  height: 58px;
  flex-shrink: 0;
}
.elevate-your-gaming {
  width: 578px;
  max-width: 100%;
  z-index: 1;
}
.this-is-a-5-tl-value-balance-c-parent {
  width: 604px;
  flex-direction: column;
  flex-shrink: 0;
}
.backgroundshadow9,
.stock-availability-container-parent,
.this-is-a-5-tl-value-balance-c-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.stock-availability-container-parent {
  width: 641.3px;
  flex-direction: column;
  gap: 23.3px;
  min-width: 641.3px;
}
.backgroundshadow9 {
  align-self: stretch;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  flex-direction: row;
  padding: 16px 15px;
  box-sizing: border-box;
  gap: 32px;
}
.tab-oyun {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.tab-oyun-aklamas-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px 0 28px;
}
.background1 {
  align-self: stretch;
  height: 3px;
  position: relative;
  background-color: #ef1414;
}
.frame-parent5 {
  width: 190.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 45px;
}
.item-tab {
  width: 177.6px;
  position: relative;
  line-height: 22px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.horizontalborder1 {
  align-self: stretch;
  height: 67px;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 266px 45px;
  gap: 31.1px;
  text-align: center;
  color: #ef1414;
}
.razer-gold-is {
  height: 52px;
  flex: 1;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.razer-gold-is-a-unified-virtua-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 0 15px;
  box-sizing: border-box;
  max-width: 100%;
}
.you-can-use {
  height: 78px;
  flex: 1;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.you-can-use-razer-gold-to-shop-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 23px 0 15px;
  box-sizing: border-box;
  max-width: 100%;
}
.you-can-instantly {
  height: 77px;
  flex: 1;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.you-can-instantly-purchase-pro-wrapper {
  width: 884.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 100%;
}
.backgroundshadow-parent2,
.backgroundshadow11 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.backgroundshadow11 {
  align-self: stretch;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  padding: 0 96px 63.5px;
  box-sizing: border-box;
  gap: 24.7px;
  color: #555;
}
.backgroundshadow-parent2 {
  flex: 1;
  gap: 64px;
}
.heading-4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.horizontalborder2 {
  align-self: stretch;
  border-bottom: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 29.5px 65px 27px;
}
.bonus-earned-000,
.product,
.total-amount-500 {
  margin: 0;
}
.product-total-amount-500-container {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  flex-shrink: 0;
}
.login {
  flex: 1;
  position: relative;
  font-size: 15px;
  line-height: 40px;
  text-transform: capitalize;
  font-family: Arial;
  color: #fff;
  text-align: center;
}
.button36 {
  cursor: pointer;
  border: 0;
  padding: 0 21px 0.5px 22px;
  background-color: #ef1414;
  flex: 1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  flex-direction: row;
  flex-shrink: 0;
}
.button36:hover {
  background-color: #ff3b3b;
}
.button-frame,
.button36,
.product-total-amount-500-tl-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 67px 0 66px;
}
.product-total-amount-500-tl-parent {
  flex: 1;
  flex-direction: column;
  gap: 24.3px;
}
.cart-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 34px;
  text-align: center;
  font-size: 18px;
}
.backgroundshadow12 {
  align-self: stretch;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 68.6px;
  gap: 39.1px;
}
.bannerwebp-icon10 {
  height: 232px;
  width: 232px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.bannerwebp-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 21px 0 19px;
}
.heading-41 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
}
.heading-4-razer-gold-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 72px 0 70px;
}
.httpsgoldrazercom {
  color: #ef1414;
}
.oyun-sitesi-httpsgoldraze-container {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto;
  color: #555;
}
.backgroundshadow-parent3,
.backgroundshadow13,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgroundshadow13 {
  align-self: stretch;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  padding: 45px 24px 65px;
  gap: 15px;
  text-align: center;
}
.backgroundshadow-parent3,
.frame-parent1 {
  width: 320px;
  gap: 32px;
  font-size: 24px;
  color: #000;
  font-family: Merriweather;
}
.frame-parent1 {
  width: 1536px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #212529;
  font-family: Roboto;
}
@media screen and (max-width: 1325px) {
  .stock-availability-container-parent {
    flex: 1;
  }
  .backgroundshadow9 {
    flex-wrap: wrap;
  }
  .backgroundshadow11,
  .horizontalborder1 {
    padding-left: 133px;
    padding-right: 133px;
    box-sizing: border-box;
  }
  .backgroundshadow11 {
    padding-left: 48px;
    padding-right: 48px;
  }
  .backgroundshadow-parent2 {
    gap: 32px;
  }
}
@media screen and (max-width: 900px) {
  .frame-parent4 {
    flex-wrap: wrap;
    gap: 24px;
  }
  .stock-availability-container-parent {
    min-width: 100%;
  }
  .backgroundshadow9 {
    gap: 16px;
  }
  .horizontalborder1 {
    gap: 16px;
    padding-left: 66px;
    padding-right: 66px;
    box-sizing: border-box;
  }
  .backgroundshadow11 {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .backgroundshadow-parent2 {
    gap: 16px;
    min-width: 100%;
  }
  .frame-parent1 {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent3 {
    flex-wrap: wrap;
  }
  .backgroundshadow11 {
    padding-bottom: 41px;
    box-sizing: border-box;
  }
  .heading-4 {
    font-size: 19px;
    line-height: 23px;
  }
  .button-frame,
  .horizontalborder2 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .backgroundshadow12 {
    gap: 20px;
  }
  .heading-41 {
    font-size: 19px;
    line-height: 23px;
  }
  .heading-4-razer-gold-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .backgroundshadow13 {
    padding-top: 29px;
    padding-bottom: 42px;
    box-sizing: border-box;
  }
  .backgroundshadow-parent3,
  .frame-parent1 {
    gap: 16px;
  }
}
