.frame-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
@media screen and (max-width: 1225px) {
  .frame-div {
    flex-wrap: wrap;
  }
}
